body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

/* header part css start from here */

header{
    background-color: #2d25a0;
    padding: 50px;
    margin-bottom: 70px;
}
.header-part{
    margin-top: 20px;
    margin-bottom: 20px;
}

#grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    }

.slogan-text{
    font-size: 64px;
    color: #ffffff;
}
.header-image img{
    width: 555px;
    height: 440px;
}

.login-button i{
    margin-right: 10px;
}
.button-watch-live span{
    color: #ffffff;
    background-color: #E02C6D;
    padding: 10px 20px;
}

.login-button{
    float: right;

}

.button-watch-live i{
    margin-left: 10px;
}

.button-watch-live :hover{
    background-color: darkorange;
    border-radius: 25px;  
}


/* header part css end here */

/* photo gallaery part css start from here */


article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap:30px;
}
.player{
    box-shadow: 0.50px 0.50px 0.50px 0.90px grey;
    padding: px;
    padding: 15px;
}
.player img{
    width: 300px;
    height: 256px;
}
.player-name{
    font-size: 28px;
}

/* photo gallaery part css end here */

/* footer part css start here */

.footer-image img{
    width: 485px;
    height: 110px;
}
.footer-social-icons i{
    color: grey;
    font-size: 24px;
    margin-bottom: 20px;
}
.copyright-item-text {
    font-size: 18px;
}
.copyright-item-text i{
    margin: 5px;
}
.footer-items{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* footer part css end here */

/* media quarey start from here */

@media only screen and (max-width:688px) {

   
    header{
        width: fit-content;
    }
    .players, #grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .slogan-text{
        font-size: 36px;
    }
    .header-image img{
        width: 247px;
        height: 195px;
        margin-top: 50px;
    }
    .footer-image img{
        width: 240px;
        height: 55px;
    }
    .footer-social-icons i{
        font-size: 14px;
    }
    
    .copyright-item-text{
        font-size: 12px;
    }   
}
/* media query end here */